/* prettier-ignore */
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @include respond(1000) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
  @include respond(800) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
  @include respond(phone) {
    grid-template-rows: 6rem calc(95vh - 6rem);
  }
}
