header.header
  img.header__logo(src="./img/logo.png", alt="Nexter logo")
  h3.heading-3 Your own home
  h1.heading-1 The ultimate personal freedom
  button.btn.header__btn View our properties
  div.header__seenon-text Seen on
  div.header__seenon-logo
    img(src="./img/logo-bbc.png", alt="Logo bbc")
    img(src="./img/logo-forbes.png", alt="Logo forbes")
    img(src="./img/logo-techcrunch.png", alt="Logo techcrunch")
    img(src="./img/logo-bi.png", alt="Logo bi")