extends ./pug/templates/index

block body-content
  div.realtors Top 3 realtors
  section.features Features
  div.story__pictures Story pictures
  div.story__content Story content
  section.homes Homes
  section.gallery Gallery