<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Descripcion de nuestra web">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nexter &mdash; your home, your freedom</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i">
    <link rel="stylesheet" href="./sass/main.scss">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/png">
  </head>
  <body class="container">
  </body>
</html>