<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Descripcion de nuestra web">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nexter &mdash; your home, your freedom</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i">
    <link rel="stylesheet" href="./sass/main.scss">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/png">
  </head>
  <body class="container">
    <div class="sidebar">Sidebar</div>
    <header class="header">Header</header>
    <footer class="footer">
      <ul class="nav">
        <li class="nav__item"><a class="nav__link" href="">find your dream home</a></li>
        <li class="nav__item"><a class="nav__link" href="">request proposal</a></li>
        <li class="nav__item"><a class="nav__link" href="">download home planner</a></li>
        <li class="nav__item"><a class="nav__link" href="">contact us</a></li>
        <li class="nav__item"><a class="nav__link" href="">submit your property</a></li>
        <li class="nav__item"><a class="nav__link" href="">come work with us!</a></li>
      </ul>
      <p class="copyright">&copy; Copyright 2017 by Jonas Schmedtmann. Feel free to use this project for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this project.</p>
    </footer>
  </body>
</html>